.ph-telefono {
  font-family: "BPMF Huninn", sans-serif;
}

.ph-telefono h4 {
  font-family: "Satisfy", cursive;
  font-size: 18px;
  color: #943636;
  margin-bottom: 6px;
}

.ph-telefono p {
  margin: 4px 0;
}

.ph-telefono a {
  color: #943636;
  text-decoration: none;
  font-size: 16px;
}

.ph-telefono a:hover {
  text-decoration: underline;
}