.banner-titulo {
  background-color: #6d675b; 
  height: 35vh;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 95vw;
}

.banner-content h1 {
  font-size: 4rem; 
  margin-bottom: 15px;
  font-weight: normal;
  letter-spacing: 2px;
}

.banner-content p {
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 2.8rem;
  }
  
  .banner-content p {
    font-size: 1rem;
    padding: 0 15px;
  }
}